HTTP_AUTHORIZATION=Bearer faketoken123456
CONTENT_TYPE=application/json
JWT_ALGORITHM=HS256
JWT_ISSUER=my-app
ENCRYPTION_KEY=fake_encryption_key_1234567890abcdef
RSA_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nFAKEPRIVATEKEY123\n-----END PRIVATE KEY-----
RSA_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\nFAKEPUBLICKEY456\n-----END PUBLIC KEY-----
RACK_ENV=development
SECONDS=3600
SENTRY_DSN=https://fake_dsn@sentry.io/12345
REDIS_POOL_SIZE=10
REDIS_TTL=600
STACKHERO_REDIS_URL_CLEAR=redis://user:password@redis-fake.stackhero.io:6379/0
POSTGRES_DB=test_db
POSTGRES_USER=test_user
POSTGRES_PASSWORD=test_password
PREDICTION_URL=https://api.fakeprediction.com/v1/predict
PREDICTION_TOKEN_URL=https://auth.fakeprediction.com/oauth/token
PREDICTION_CLIENT_ID=fake_prediction_client_id
PREDICTION_CLIENT_SECRET=fake_prediction_client_secret
ANALYZES_TOKEN_URL=https://auth.fakeanalyzes.com/oauth/token
ANALYZES_CLIENT_ID=fake_analyzes_client_id
ANALYZES_CLIENT_SECRET=fake_analyzes_client_secret
SERASA_FINTECH_REPORT_LOGIN_URL=https://login.fakeserasa.com
SERASA_FINTECH_REPORT_URL=https://api.fakeserasa.com/report
SERASA_FINTECH_REPORT_USERNAME=fake_user_serasa
SERASA_FINTECH_REPORT_PASSWORD=fake_password_serasa
PROVENIR_BIG_DATA_CORP_URL=https://api.fakeprovenir.com/bigdata
PROVENIR_CLIENT_ID=fake_provenir_id
PROVENIR_CLIENT_SECRET=fake_provenir_secret
PRO_SCORE_BASE_SEARCH_URL=https://api.fakeproscore.com/search
PRO_SCORE_CLIENT_SECRET=fake_proscore_secret
PRO_SCORE_USERNAME=fake_proscore_user
PRO_SCORE_PASSWORD=fake_proscore_pass
PRO_SCORE_REDE=1234
PRO_SCORE_LOJA=5678
PRO_SCORE_CTR=abcd
BOA_VISTA_USER=boavista_user
BOA_VISTA_PASSWORD=boavista_pass
BOA_VISTA_CADASTRAL_URL=https://api.fakeboavista.com/cadastral
GUARANTOR_CLIENT_ID=fake_guarantor_id
GUARANTOR_CLIENT_SECRET=fake_guarantor_secret
GUARANTOR_TOKEN_URL=https://auth.fakeguarantor.com/oauth/token
IDWALL_TOKEN=fake_idwall_token_abcdef123456
SCORE_MONTHLY_LIMIT=5000
SHADOW_MODELS_ENABLED=false